<web-app >
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>segundaServlet</servlet-name>
    <servlet-class>com.exemplo.servlet.SegundaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>segundaServlet</servlet-name>
    <url-pattern>/segundaServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>criaCantor</servlet-name>
    <servlet-class>com.exemplo.servlet.CriaCantorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>criaCantor</servlet-name>
    <url-pattern>/criaCantor</url-pattern>
  </servlet-mapping>

</web-app>